# Exploring and Clustering the Neighborhoods in Toronto, Canada

In [40]:
# importing libraries
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [41]:
# source of data
wikipedia ='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
raw_wikipedia_page= requests.get(wikipedia).text

# leveraging beautiful soup to parse the HTML/XML codes.
soup = BeautifulSoup(raw_wikipedia_page,'xml')
print("Beautiful Soup")

Beautiful Soup

# Extracting Raw Table from Wikipedia

In [54]:
table = soup.find('table')

Postcode      = []
Borough       = []
Neighborhood  = []

# print(table)

# extracting cleaned form of the table
for tr_cell in table.find_all('tr'):
    
    counter = 1
    Postcode_var      = -1
    Borough_var       = -1
    Neighborhood_var  = -1
    
    for td_cell in tr_cell.find_all('td'):
        if counter == 1: 
            Postcode_var = td_cell.text
        if counter == 2: 
            Borough_var = td_cell.text
            tag_a_Borough = td_cell.find('a')
            
        if counter == 3: 
            Neighborhood_var = str(td_cell.text).strip()
            tag_a_Neighborhood = td_cell.find('a')
            
        counter +=1
        
    if (Postcode_var == 'Not assigned' or Borough_var == 'Not assigned' or Neighborhood_var == 'Not assigned'): 
        continue
    try:
        if ((tag_a_Borough is None) or (tag_a_Neighborhood is None)):
            continue
    except:
        pass
    if(Postcode_var == -1 or Borough_var == -1 or Neighborhood_var == -1):
        continue
        
    Postcode.append(Postcode_var)
    Borough.append(Borough_var)
    Neighborhood.append(Neighborhood_var)

# Combining Postal Code

In [55]:
unique_p = set(Postcode)
print('Number of Unique Postal Codes:', len(unique_p))
Postcode_u      = []
Borough_u       = []
Neighborhood_u  = []

for postcode_unique_element in unique_p:
    p_var = ''; b_var = ''; n_var = ''; 
    for postcode_idx, postcode_element in enumerate(Postcode):
        if postcode_unique_element == postcode_element:
            p_var = postcode_element;
            b_var = Borough[postcode_idx]
            if n_var == '': 
                n_var = Neighborhood[postcode_idx]
            else:
                n_var = n_var + ', ' + Neighborhood[postcode_idx]
    Postcode_u.append(p_var)
    Borough_u.append(b_var)
    Neighborhood_u.append(n_var)

Number of Unique Postal Codes: 77

# Creating Padas Dataframe

In [49]:
Toronto_dict = {'Postcode':Postcode_u, 'Borough':Borough_u, 'Neighborhood':Neighborhood_u}
df_Toronto = pd.DataFrame.from_dict(Toronto_dict)
df_Toronto.to_csv('Toronto_part1.csv')
df_Toronto.head(14)

   Postcode           Borough                            Neighborhood
0       M6J      West Toronto                Little Portugal, Trinity
1       M5P   Central Toronto                       Forest Hill North
2       M4A        North York                        Victoria Village
3       M4C         East York                        Woodbine Heights
4       M6H      West Toronto                      Dovercourt Village
5       M8V         Etobicoke                             New Toronto
6       M6L        North York                               Downsview
7       M1E       Scarborough                  Morningside, West Hill
8       M4W  Downtown Toronto                                Rosedale
9       M1N       Scarborough                             Birch Cliff
10      M4Y  Downtown Toronto                    Church and Wellesley
11      M5X  Downtown Toronto  First Canadian Place, Underground city
12      M5C  Downtown Toronto                          St. James Town
13      M5J  Downtown Toronto          Toronto Islands, Union Station

# Number of Rows in Dataframe

In [50]:
df_Toronto.shape

(77, 3)